resources/models/deconvnet/deconvnet-16-epochs-weights.h5 filter=lfs diff=lfs merge=lfs -text
resources/models/segnet/segnet-29-epochs-weights.h5 filter=lfs diff=lfs merge=lfs -text
resources/models/unet/unet-19-epochs-weights.h5 filter=lfs diff=lfs merge=lfs -text
